<div ng-controller="GreetingController as greeting">
    <h1>Hello</h1>

    <form role="form">
        <div class="form-group">
            <label>
                What is your name?
                <input ng-model="greeting.person.name" class="form-control"/>
            </label>
        </div>
        <div class="form-group">
            <button
                class="btn btn-small btn-default"
                ng-click="greeting.save(greeting.person)"
                ng-disabled="!greeting.person.name">Save
            </button>
        </div>
    </form>

    <div ng-show="greeting.person.name" class="alert alert-success">
        {{ greeting.phrase }}, {{ greeting.person.name }}!<br/>
    </div>

    <hr/>
    <a href="#/">Back</a>
</div>