<div ng-controller="EventsItemController as events">
    <div class="header-links">
        <a href="#/events/new">Create event</a> | <a href="#/events">Statistics</a>
    </div>
    <div class="createEventView">
        <div class="header">
            <h1>{{events.header}}</h1>
        </div>
        <div class="createEventBody">

            <form role="form">
                <label for="name">Event name</label>
                <input id="name" ng-model="events.item.name"/>
                <br/><br/>

                <label for="time">Time</label>
                <input id="time" ng-model="events.item.time"/>
                <br/><br/>

                <label for="location">Location</label>
                <location-lookup id="location"
                                 ng-show="!events.item.location"
                                 ng-model="events.location"
                                 limit-to="4"></location-lookup>
                <input
                    ng-show="events.item.location"
                    ng-model="events.location.description"
                    ng-click="events.clearLocation()"/>
                <br/><br/>

                <button type="submit" ng-click="events.save(events.item)">{{events.buttonText}}</button>

            </form>
        </div>
    </div>
</div>
