<div ng-controller="EventsItemController as events">
    <div class="container">
        <div class="createEventView">
            <div class="header">
                <h1>Create event</h1>
            </div>
            <div class="createEventBody">

                <form role="form">
                    <label for="name">Event name</label>
                    <input id="name" ng-model="events.item.name"/>
                    <br/><br/>

                    <label for="time">Time</label>
                    <input id="time" ng-model="events.item.time"/>
                    <br/><br/>

                    <label for="location">Location</label>
                    <input id="location" ng-model="events.item.location"/>
                    <br/><br/>

                    <button type="submit" ng-click="">Create event</button>

                </form>
            </div>

        </div>
    </div>
</div>
