@font-face {
    font-family: "robotoLight";
    src: url("/fonts/Roboto-Light-webfont.woff") format('woff');
}

@font-face {
    font-family: "robotoBold";
    src: url("/fonts/Roboto-Bold-webfont.woff") format('woff');
}

html {
    min-height:100%;
}

body {
    min-height:100%;
}

.container {
    margin-top:100px;
    margin-left:auto;
    margin-right:auto;
    max-width:900px;
    font-family: robotoLight, Arial, sans-serif;
    font-size: 12pt;
}

.createEventView {
    width:900px;
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.75);

    margin-left:auto;
    margin-right:auto;
}

.createEventBody {
    background-color: #ffffff;
    min-height:200px;
    padding-bottom:24px;
    padding-top:24px;
}

.header {
    background-color: #a9cf54;
    padding-top:4px;
    padding-left: 24px;
    padding-right:16px;
    padding-bottom:4px;
}

.header h1 {
    font-size: 18pt;
    font-family: robotoBold, "Arial Black", sans-serif;
    color:black;
}

.createEventBody label{
    width: 250px;
    display:inline-block;
    vertical-align:top;
}

.createEventBody .search-box {
    display: inline;
}

.createEventBody ul {
    list-style-type: none;
}

.createEventBody li {
    margin-left: 213px;
}

.createEventBody li:hover {
    background-color: #a9cf54;
    font-weight: 600;
}

.createEventBody input {
    height:24px;
    width:300px;
}

.createEventBody .number {
    height:24px;
    width:100px;
}

.createEventBody .date {
    height:24px;
}

.createEventBody button {
    float:right;
}

.createEventBody form {
    margin-left:auto;
    margin-right:auto;
    width:800px;
    border:none;
    overflow:hidden;
}

.createEventBody textarea {
    width:300px;
    height:150px;
    vertical-align: bottom;
}
