<div ng-controller="EventsListController as events">
    <div class="header-links">
        <a href="#/events/new">Create event</a> | <a href="#/events">Statistics</a>
    </div>

    <form>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="item in events.items">
                <a href="#/events/{{$index}}">
                    {{ item.name }}
                </a>
                <button type="button" class="btn btn-default btn-xs" ng-click="events.delete(item)"
                        style="float: right">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
            </li>
        </ul>
    </form>

</div>