<div ng-controller="TodoItemController as todo">
    <h1>Todo item</h1>

    <form role="form">
        <div class="form-group">
            <label>
                Title
                <input
                        ng-model="todo.item.title"
                        ng-class="{'done': todo.item.done}"
                        class="form-control"
                        />
            </label>
        </div>
        <div class="form-group">
            <label>
                Description
                <textarea
                        ng-model="todo.item.description"
                        ng-class="{'done': todo.item.done}"
                        class="form-control"
                        ></textarea>
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="todo.item.done"/>
                Done
            </label>
        </div>
    </form>

    <hr/>
    <a href="#/todo">Back</a>
</div>